html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, -apple-system;
  font-size: 62.5%;
  color: $color-gray;
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

#app {
  font-size: 1.4rem;
  margin : 0 auto;
  // mobile-first default
  padding: 3%;
  max-width: 100%;

  // tablet and up
  @include respond-to(tablet) {
    padding: 3%;
    font-size: 1.125rem;
    max-width: 100%;
    margin: auto;
  }

  // desktop and up
  @include respond-to(desktop) {
    padding: 3%;
    font-size: 1.25rem;
    max-width: 100%;
  }

  // wide screens
  @include respond-to(wide) {
    max-width: 70%;
  }
}