.menu-card {
  width: 100%; 
  margin: 2.4rem 0rem;
  font-size: 1.4rem;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #fff;
  color: #393939;
  border: 0;
}

.bumper {
  height: 65px;
}

header {
  height: 120px;
  margin-bottom: 4.8rem;
}

footer {

  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 25000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 auto;

  div {
    min-width: 60px;
    height: 40px;
    padding: 8px 20px;
    background-color: rgba(255,255,255, .8);
    color: #393939;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

    span {
      padding: 0px 4px;
    }
  }
}

.segment-card {
  width: 100%;
 }

 .segment-container {
  header {
    img {
      max-height: 100px;
    }
    margin-bottom: 0;
  }
  text-align: center;
 }