.home {
  display: flex;
  flex-direction: column;
}

.menu-card {
  width: 100%; 
  margin: 1.5% 0 1.5% 0;
  font-size: 1.4rem;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #fff;
  color: #393939;
  border: 0;
}

.bumper {
  height: 65px;
}

header {
  height: 120px;
  margin-bottom: 4.8rem;
}

footer {

  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 25000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 auto;

  div {
    min-width: 60px;
    height: 40px;
    padding: 8px 20px;
    background-color: rgba(255,255,255, .8);
    color: #393939;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

    span {
      padding: 0px 4px;
    }
  }
}

.segment-card {
  width: 100%;
 }

 .segment-container {
  header {
    img {
      max-height: 100px;
    }
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 0;
  }
  text-align: center;
 }

 .lander-segment {
    width: 100%;

    .pyramid {
      .feature {
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
      }

      .subfeatures {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .subfeature-l {
        width: 48.5%;
        margin-right: 1.5%;
        border-radius: 0 0 0 15px;
        overflow: hidden;
      }

      .subfeature-r {
        width: 48.5%;
        margin-left: 1.5%;
        border-radius: 0 0 15px 0;
        overflow: hidden;
      }
    }
 }