img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  margin: 2px 4px;
}

h1 {
  font-size: 280%;
}

h2 {
  font-size: 210%;
}

h3 { 
  font-size: 160%;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}